<!-- include 'top' -->
<div id="error">
<!-- include 'error' -->   
</div>
<form action="{{baseurl}}index.php/register" method="post">
    <div>
        <span class="normal">Ange användarnamn</span>
        <input name="username" type="text" />
        <br/><span class="normal">Lösenord</span>
        <input name="password" type="password" />
        <br/><span class="normal">Upprepa Lösenord</span>
        <input name="repeatpassword" type="password" />
        <br/>
        <input type="submit" value="Add Link" />
    </div>
</form>